/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Sans:wght@400;600&display=swap");

:root {
  --primary-color: #3c91e7;
  --color-write: white;
  --background-color: linear-gradient(#a16060, #111111);
  --font-padrao:  "Roboto Sans", sans-serif;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--background-color);
  color: var(--color-write);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
